#portfolioModal1 .modal-dialog.modal-xl .modal-content {
}
#page-top {
    padding-top: 0px;
}
.masthead.bg-primary.text-white.text-center .container.d-flex.align-items-center.flex-column .masthead-heading.text-uppercase.mb-0 {
    margin-top: 70px;
}
.masthead.bg-primary.text-white.text-center .container.d-flex.align-items-center.flex-column .masthead-heading.text-uppercase.mb-0 {
    margin-top: 80px;
}
